@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
/* font-family: 'Roboto', sans-serif; */

/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
body{
    font-family: 'Nunito', sans-serif;
}
/* TOP HEADER SECTION STYLE */
section#headerTop{}
section#headerTop span{}

/* HEADER SECTION STYLE */
section#header{
    background: #cdcfcf;
}
section#header {}
section#header h2{
    font-family: 'Dancing Script', cursive; 
}
section#header h2{}
section#header h2 ul{
    padding: 0;
}
section#header h2 ul li{
    display: inline-block;
    animation: animateWelcomeText 3s infinite;
}
@keyframes animateWelcomeText{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    50%{
        opacity: 0;
        visibility: visible;
    }
    
    0%{
        opacity: 0;
        visibility: hidden;
    }

}
section#header h2 ul li:nth-child(1){
    animation-delay: 2s;
}
section#header h2 ul li:nth-child(2){
    animation-delay: 2.1s;
}
section#header h2 ul li:nth-child(3){
    animation-delay: 2.2s;
}
section#header h2 ul li:nth-child(4){
    animation-delay: 2.3s;
}
section#header h2 ul li:nth-child(5){
    animation-delay: 2.4s;
}
section#header h2 ul li:nth-child(6){
    animation-delay: 2.5s;
}
section#header h2 ul li:nth-child(7){
    animation-delay: 2.6;
}


/* MY NAVBAR  */

section#navBarMenu {
	margin-top: -24px;
}
section#navBarMenu ul{
    text-align: center;
}
section#navBarMenu ul li{}
section#navBarMenu ul li a {
	font-size: 16px;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
	padding: 0 8px;
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
section#navBarMenu ul li{}
.navbar-toggler.collapsed {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.bg-primary {
	padding: 26px 0;
}